/* Общие стили */
body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #3498db, #9b59b6); /* Градиент */
    height: 100vh; /* Занимает всю высоту экрана */
    color: white;
    overflow: hidden; /* Скрывает полосы прокрутки */
}

.container {
    display: flex;
    height: 100%;
}

/* Стили бокового меню */
.sidebar {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease; /* Анимация для открытия/закрытия */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.sidebar nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Стили контента */
.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Кнопка для открытия/закрытия меню (для мобильных) */
.menu-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none; /* Скрыта по умолчанию на больших экранах */
}

/* Класс для скрытия меню */
.sidebar.hidden {
    transform: translateX(-250px);
}

/* Добавьте это в конец style.css */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project-item {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.project-item h2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 0;
}

.project-item iframe {
    width: 100%;
    height: 200px;
    border: none;
}


/* Медиа-запрос для адаптации под мобильные устройства */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 10;
        transform: translateX(-250px); /* Скрываем меню по умолчанию */
    }

    .content {
        padding-top: 60px; /* Чтобы контент не перекрывался кнопкой */
    }

    .menu-toggle {
        display: block; /* Показываем кнопку */
    }

    .sidebar.hidden {
        transform: translateX(0); /* Показываем меню при нажатии кнопки */
    }

}
